<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/images/20036-200-122x122.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>profile</title>
  <link rel="stylesheet" href="/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/css/tether.min.css">
  <link rel="stylesheet" href="/css/dropdown-style.css">
  <link rel="stylesheet" href="/css/theme-style.css">
  <link rel="preload" as="style" href="/css/mbr-additional.css">
    <link rel="stylesheet" href="/css/mbr-additional.css" type="text/css">
  
  
  
</head>
<body>
  <section class="menu cid-rZrsNO3Ho1" once="menu" id="menu1-v">

    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                         <img src="/images/20036-200-122x122.png" alt="BRAINSTORM" title="" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="/">BRAINSTORM</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-white display-4" href="courses.html#pricing-tables3-l">
                        <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>
                        Courses</a>
                </li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary display-4" href="index.html#header6-3">
                <span class="mbrib-login mbr-iconfont mbr-iconfont-btn"></span>sign out</a></div>
        </div>
    </nav>
</section>


    <div class="container text-center" style:" padding-top: 100px;">
        <h2 class="pb-5 mbr-fonts-style display-2">
            ОТЗЫВЫ НАШИХ ПОЛЬЗОВАТЕЛЕЙ
        </h2>

        <div class="carousel slide" role="listbox" data-pause="true" data-keyboard="false" data-ride="false" data-interval="false">
            <div class="carousel-inner">
                
                
            <div class="carousel-item">
                    <div class="user col-md-8">
                        <div class="user_image">
                            <img src="/images/face3.jpg">
                        </div>
                        <div class="user_text pb-3">
                            <p class="mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nostrum, quos voluptas fugiat blanditiis, temporibus expedita cumque doloribus ea, officiis consequuntur repellat minus ad veritatis? Facere similique accusamus, accusantium sunt!
                            </p>
                        </div>
                        <div class="user_name mbr-bold pb-2 mbr-fonts-style display-7">
                            Alex
                        </div>
                        <div class="user_desk mbr-light mbr-fonts-style display-7">
                            ДИЗАЙНЕР
                        </div>
                    </div>
                </div></div>

            <div class="carousel-controls">
                <a class="carousel-control-prev" role="button" data-slide="prev">
                  <span aria-hidden="true" class="mbri-arrow-prev mbr-iconfont"></span>
                  <span class="sr-only">Назад</span>
                </a>
                
                <a class="carousel-control-next" role="button" data-slide="next">
                  <span aria-hidden="true" class="mbri-arrow-next mbr-iconfont"></span>
                  <span class="sr-only">Вперед</span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="pricing-table3 cid-rZrtWWtgx1" id="pricing-tables3-12">

    

    
    <div class="container">
        <div class="media-container-row">
            <div class=" col-12 col-lg-4 col-md-6 my-2">
                <div class="pricing">
                    <div class="plan-header">
                        <div class="plan-price">
                            <span class="price-value mbr-fonts-style display-5">
                                $
                            </span>
                            <span class="price-figure mbr-fonts-style display-1">
                                35
                            </span>
                            <h3 class="plan-title mbr-fonts-style display-5">
                                Standard
                            </h3>
                            <hr>
                        </div>
                    </div>
                    <div class="plan-body">
                        <p class="mbr-text mbr-fonts-style display-7">
                            Mobirise идеально подходит тем, кто не знаком с понятием веб-разработки
                        </p>
                        <div class="mbr-section-btn pt-4 text-center">
                            <a href="https://mobirise.co" class="btn btn-primary display-4">КУПИТЬ СЕЙЧАС</a>
                        </div>
                    </div>
                </div>
            </div>

<!--            <div class="col-12 col-lg-4 col-md-6 my-2">-->
<!--                <div class="pricing">-->
<!--                    <div class="plan-header">-->
<!--                        <div class="plan-price">-->
<!--                            <span class="price-value mbr-fonts-style display-5">-->
<!--                                $-->
<!--                            </span>-->
<!--                            <span class="price-figure mbr-fonts-style display-1">-->
<!--                                65-->
<!--                            </span>-->
<!--                            <h3 class="plan-title mbr-fonts-style display-5">-->
<!--                                Бизнес-->
<!--                            </h3>-->
<!--                            <hr>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="plan-body">-->
<!--                        <p class="mbr-text mbr-fonts-style display-7">-->
<!--                            Mobirise идеально подходит тем, кто не знаком с понятием веб-разработки-->
<!--                        </p>-->
<!--                        <div class="mbr-section-btn pt-4 text-center">-->
<!--                            <a href="https://mobirise.co" class="btn btn-primary display-4">КУПИТЬ СЕЙЧАС</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="col-12 col-lg-4 col-md-6 my-2">-->
<!--                <div class="pricing">-->
<!--                    <div class="plan-header">-->
<!--                        <div class="plan-price">-->
<!--                            <span class="price-value mbr-fonts-style display-5">-->
<!--                                $-->
<!--                            </span>-->
<!--                            <span class="price-figure mbr-fonts-style display-1">-->
<!--                                90-->
<!--                            </span>-->
<!--                            <h3 class="plan-title mbr-fonts-style display-5">-->
<!--                                Премиум-->
<!--                            </h3>-->
<!--                            <hr>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="plan-body ">-->
<!--                        <p class="mbr-text mbr-fonts-style display-7">-->
<!--                            Mobirise идеально подходит тем, кто не знаком с понятием веб-разработки-->
<!--                        </p>-->
<!--                        <div class="mbr-section-btn pt-4 text-center">-->
<!--                            <a href="https://mobirise.co" class="btn btn-primary display-4">КУПИТЬ СЕЙЧАС</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

        </div>
    </div>
</section>


  <script src="/js/popper.min.js"></script>
  <script src="/jquery/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/smooth-scroll.js"></script>
  <script src="/jquery/jquery.touch-swipe.min.js"></script>
  <script src="/js/bootstrap-carousel-swipe.js"></script>
  <script src="/js/mbr-testimonials-slider.js"></script>
  <script src="/js/tether.min.js"></script>
  <script src="/js/nav-dropdown.js"></script>
  <script src="/js/navbar-dropdown.js"></script>
  <script src="/js/theme-script.js"></script>
  
  
</body>
</html>